<!-- Feed -->
    <!-- Playlist and media suggestions from all other users(somewhat randomized) -->
    <!-- Maybe some functionality to add so you can comment -->
    <!-- Ability to like and add playlists to your collection -->
<!-- User Dashboard -->
    <!--  Collection of both public and private playist user has-->
    <!-- Can be filtered by type of playlist -->
    <!-- Future state it is an accordion with make information and scrollable with link to the actual playlist -->
<%- include('partials/header') -%>
<h1 class="my-10 text-slate-300 text-5xl drop-shadow-2xl">This is your dashboard</h1>
    <div>
        <!-- Filter and search -->
        <div>
            <button>Filter</button>
            <div class="mb-10 w-1/4 flex justify-center">
                <input class="bg-slate-50" type="text" placeholder="Search">
                <button class="bg-violet-900">Push</button>
            </div>
        </div>
        <!-- List of Playlists -->
        <div>
            
        </div>
    </div>
</body>
</html>