<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css"  rel="stylesheet" >
    <title>Document</title>
</head>
<body class="bg-violet-950">
 <!-- Main Section -->
    <div class="bg-black">
        <div class="h-96 flex justify-center flex-col items-center align-center">
            <h1 class="my-10 text-slate-300 text-5xl drop-shadow-2xl">Diversify</h1>
            <span class="mb-2 text-violet-900 text-2xl">Find Content That Speaks To You</span>
            <div class="mb-10 w-1/4 flex justify-center">
                <input class="bg-slate-50" type="text" placeholder="Search">
                <button class="bg-violet-900">Push</button>
            </div>
            <div class="mb-10 flex justify-center">
                <button class="bg-violet-900"><a href="/login">Login</a></button>
                <button class="bg-violet-900"><a href="/signup">Guest</a></button>
            </div>
        </div>
    </div>
    <!-- Explore Section -->
    <!-- <div class="flex bg-purple-950 justify-center space-y-12 flex-col items-center align-center w-full">
        <div class="py-4 px-4 my-4 w-3/4 h-1/5 rounded-lg bg-black flex justify-center flex-col items-center">
            <img class="size-9/12 aspect-square"  src="/imgs/music-stock.jpg">
            <button class="px-3 py-1 my-4 bg-violet-600 text-slate-300 rounded-full text-center text-3xl">Explore Podcasts</button>
        </div>
        <div  class="py-4 px-4 w-3/4 h-1/5 rounded-lg bg-black flex justify-center flex-col items-center">
            <img class="size-9/12 aspect-square" src="/imgs/music-stock.jpg">
            <button class="px-3 py-1 my-4 bg-violet-600 text-slate-300 rounded-full text-center text-3xl">Explore Music</button>
        </div>
        <div class="py-4 px-4 mb-4 w-3/4 h-1/5 rounded-lg bg-black flex justify-center flex-col items-center">
            <img class="size-9/12 aspect-square" src="/imgs/music-stock.jpg">
            <button class="px-3 py-1 my-4 bg-violet-600 text-slate-300 rounded-full text-center text-3xl">Explore Videos</button>
        </div>
    </div> -->
    <!-- About section -->
    <div class="my-10 py-10 w-full bg-violet-950 flex flex-col justify-center items-center border border-red-500">
        <h2 class="py-6 w-3/4 rounded-md text-center text-slate-300 text-5xl">About Diversify</h2>
        <p class="py-8 w-3/4 m-10  text-center text-black text-3xl">
            Diversify goes beyond the algorithm to provide people with new form of media and content to expand their view and knowledge. Whether you want to learn more about a topic or get a different perspective  on a topic you already know
        </p>
    </div>
    <div>
        <h2>What's Hot?</h2>
        <!-- Div with background img that appears when you hover for DT -->
        <div class="flex">
            <div class="flex bg-violet-950 justify-center space-x-12 flex-row  align-center w-full">
                <div class="py-4 px-4 mb-4 w-1/4 h-1/4 rounded-lg bg-slate-50 flex justify-center flex-col items-center">
                    <img class="size-9/12 aspect-square" src="/imgs/music-stock.jpg">
                    <button class="px-3 py-1 my-4 bg-violet-700 rounded-full text-center">Media Name</button>
                </div>
            </div>
            <div class="flex bg-violet-950 justify-center space-x-12 flex-row  align-center w-full">
                <div class="py-4 px-4 mb-4 w-1/4 h-1/4 rounded-lg bg-slate-50 flex justify-center flex-col items-center">
                    <img class="size-9/12 aspect-square" src="/imgs/music-stock.jpg">
                    <button class="px-3 py-1 my-4 bg-violet-700 rounded-full text-center">Media Name</button>
                </div>
            </div>
            <div class="flex bg-violet-950 justify-center space-x-12 flex-row  align-center w-full">
                <div class="py-4 px-4 mb-4 w-1/4 h-1/4 rounded-lg bg-slate-50 flex justify-center flex-col items-center">
                    <img class="size-9/12 aspect-square" src="/imgs/music-stock.jpg">
                    <button class="px-3 py-1 my-4 bg-violet-700 rounded-full text-center">Media Name</button>
                </div>
            </div>
     </div>
    </div>

    <%- include('partials/footer') -%>