<%- include('partials/header') -%>
<!-- May be a combination primarily the partial for the profile("dashboard" from the main list but for other peoples profiles) -->
   <!-- Playlist -->
   <div class="max-w-80">
    <!-- Playlist -->
   
         <h2>All Playlist</h2>

   <!-- list of Playlists -->
        <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
            <!-- list of all of the playlist -->
            <% userPlaylist.forEach(ele=>{ %>
                <li class="border border-slate-500 pb-3 sm:pb-4 flex">
                    <div class="flex flex-col justify-center space-x-4 rtl:space-x-reverse  border border-slate-500">
                        <!-- Link to playlist using ejs and query param syntax is browser -->
                        <a href='#'> 
                            <h2 class="text-slate-300 border border-slate-500"><%= ele.name %></h2>
                        </a>
                            <!-- Likes -->
                            <span class="text-slate-300 border border-slate-500">Likes<%= ele.likes %></span>
                            <button class="text-slate-300 border border-slate-500">Like Button</button>
                        <!--List of media inside of playlist -->
                        <ul class="flex">
                            <!-- Individual media block -->
                            <li class="border border-slate-500">
                                <div>
                                    <!-- Link to media using ejs and query param syntax is browser -->
                                    <a href='#'> 
                                        <!-- Media name -->
                                        <h3 class="text-slate-300 border border-slate-500">Media Count </h3>
                                    </a>
                                    <!-- Thumbnail Image of Video -->
                                    <imgz src="#"/> 
                                <!-- Media description -->
                                    <p class="text-slate-300 border border-slate-500">Description of media</p>
                                </div>
                    
                            </li>
                        </ul>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
</div>
<%- include('partials/footer') -%>